.zsh/*.swp
!.zshrc
.zsh/pre-local
.zsh/local
.zsh/data/*
.zsh/data
!.zsh/contrib/*
!.zsh/contrib
!.zsh/*
!.zsh
*.xsd.cs
x86/
x64/
!.wallpapers/*
*.vssscc
*.vspx
*.vspscc
*.vsp
.vs/
*.VisualState.xml
*.VC.VC.opendb
*.VC.db
*.vbw
*.userprefs
*.userosscache
*.user
_UpgradeReport_Files/
UpgradeLog*.XML
UpgradeLog*.htm
[Tt]est[Rr]esult*/
*.tss
*.tmp_proj
*.tmp
*.tli
*.tlh
*.tlb
$tf/
TestResult.xml
_TeamCity*
.*.swp
*.svclog
*.suo
StyleCopReport.xml
*.sln.iml
*.sln.docstates
ServiceFabricBackup/
**/*.Server/ModelManifest.xml
**/*.Server/GeneratedArtifacts
*.sdf
*.scc
*.sbr
.sass-cache/
*.sap
*.rsp
*.[Rr]e[Ss]harper
[Rr]eleases/
[Rr]eleasePS/
[Rr]elease/
*.rptproj.rsuser
*.rptproj.bak
*.retry
_ReSharper*/
*.rdl.data
rcf/
*/__pycache__
__pycache__/
*.pyc
*.pyc
_Pvt_Extensions
*.pubxml
*.publishsettings
PublishScripts/
*.publishproj
publish/
*.psess
**/Properties/launchSettings.json
project.lock.json
project.fragment.lock.json
!.profile
*.[Pp]ublish.xml
!**/[Pp]ackages/build/
**/[Pp]ackages/*
*.plg
_pkginfo.txt
*.pidb
*.pgd
*.pgc
*.pfx
*.pdb
*.pch
*_p.c
.paket/paket.exe
paket-files/
Package.StoreAssociation.xml
orleans.codegen.cs
*.opt
*.opensdf
*.opendb
OpenCover/
[Oo]bj/
*.odx.cs
*.obj
*.nvuser
*.nupkg
*.nuget.targets
*.nuget.props
.ntvs_analysis.dat
node_modules/
*.ndf
nCrunchTemp_*
_NCrunch_*
*.ncb
*.mm.*
.mfractor/
*.meta
*.mdf
*.log
[Ll]og/
*.ldf
.JustCode
*.jmconfig
*.jfm
*.ipdb
ipch/
*.iobj
*.ilk
*_i.h
id_rsa
*/id_rsa
.idea/
*_i.c
**/*.HTMLClient/GeneratedArtifacts
*.gpState
!.gitignore
!.gitexcludes
!.gitconfig
*.GhostDoc.xml
Generated\ Files/
Generated_Code/
!.gemrc
FakesAssemblies/
.fake/
[Ee]xpress/
ecf/
*.e2e
draft/inventory.yml
*.DotSettings.user
*.dotCover
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/Html2
DocProject/Help/html
DocProject/Help/*.hhp
DocProject/Help/*.hhk
DocProject/Help/*.hhc
DocProject/buildhelp/
dlldata.c
**/*.DesktopClient/ModelManifest.xml
**/*.DesktopClient/GeneratedArtifacts
deploy/*
deploy/
[Dd]ebugPublic/
[Dd]ebugPS/
[Dd]ebug/
*.dbproj.schemaview
*.dbmdl
csx/
.*crunch*.local.xml
.cr/
*.coveragexml
*.coverage
!.config/terminator/config
!.config/polybar/*
!.config/neofetch/config
!.config/i3/config
!.config/i3/*
.config/*
!.config/
ClientBin/
_Chutzpah*
*.[Cc]ache
!*.[Cc]ache/
*.cachefile
BundleArtifacts/
.builds
*.build.csdef
*.btp.cs
*.btm.cs
bld/
*.binlog
*.bim_*.settings
*.bim.layout
BenchmarkDotNet.Artifacts/
[Bb]uild[Ll]og.*
[Bb]in/
.bash_logout
.bash_local
.bash_history
!.bash*
Backup*/
*.azurePubxml
!.axoCover/settings.json
.axoCover/*
AutoTest.Net/
ASALocalRun/
artifacts/
*.aps
*.appx
AppPackages/
© 2019 GitHub, Inc.
*~
~$*
